html {
    font-size: 16px;
}
body {
    font-family: "Open Sans", sans-serif;
    background: #fd3;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
}
.container, .container-fluid {
    font-size: 1rem;
}
p {
    margin-bottom: .75rem;
}
hr {
    border-color: #fff;
}
code {
    background: rgba(255,255,255,.75);
}
strong {
    font-weight: 600;
}
pre {
    padding: .5rem;
    border: 0;
    margin: 1rem 0;
    background: #222;
    color: #eee;
}
a, a:visited {
    color: #47a;
}
a:active {
    color: #47a;
}
.btn {
    font-size: 1rem;
    border-radius: 0;
    padding: .5rem .75rem;
}
.btn.btn-primary {
    background: #47a;
    color: #fff;
}

h1 {
    font-size: 3.8rem;
    font-weight: 600;
    letter-spacing: -2px;
}
h1.display-heading {
    margin-bottom: 2rem;
}
h1.display-heading > span {
    background: #ff0;
    padding: 2px 4px 4px;
    border-bottom: 4px solid #444;
}
h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -1px;
}
h3 {
    font-size: inherit;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    margin: 1.75rem 0 .75rem;
}
h3.reverse {
    background: #870;
    color: #fff;
    line-height: 2rem;
    padding-left: .5rem;
}
h4 {
    font-size: inherit;
    font-style: italic;
    padding: 0;
    margin: 1.75rem 0 .75rem;
}

p.heading-num-icons {
    margin-bottom: -.5rem;
    line-height: 2rem;
}
p.heading-num-icons > span {
    display: inline-block;
    text-align: center;
    width: 2rem;
    border-radius: 1rem;
    background: #333;
    color: #fd3;
    font-weight: 600;
    margin-right: .25rem;
}
p.heading-num-icons > i {
    font-size: 20px;
}

.link-list-item {
    padding: .5em 0;
    margin: 0;
    border-top: 1px solid #555;
}

.ts-dark-navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    font-weight: 300;
    line-height: 3rem;
}
.ts-dark-navbar a {
    display: inline-block;
    margin-right: 1rem;
    padding: 0 .25rem;
    color: inherit;
    text-decoration: none;
}
.ts-dark-navbar a.icon {
    float: right;
    color: #ccc;
    margin-right: 0;
    margin-left: .25rem;
}
.ts-dark-navbar a.icon > i {
    vertical-align: middle;
}
.ts-dark-navbar a:hover {
    border-bottom: 2px solid #eee;
}
body.page-home .ts-dark-navbar a.page-home { font-weight: 600; border-bottom: 2px solid #ff0; }
body.page-docs .ts-dark-navbar a.page-docs { font-weight: 600; border-bottom: 2px solid #ff0; }
body.page-about .ts-dark-navbar a.page-about { font-weight: 600; border-bottom: 2px solid #ff0; }
.logo-line {
    line-height: 3rem;
}

article {
    background: #ffe;
    color: #333;
    margin: 2rem 0 0;
}
article hr {
    border-color: #aaa;
}
article ul {
    padding-left: 1.1em;
    list-style-position: outside;
}
article ul.text-bullets li {
    margin-bottom: .5rem;
}

.jumbotron {
    background: transparent;
}
.jumbotron + article {
    margin-top: 0;
}

@media screen and (min-width:1100px) {
    .container-fluid.modulesHorz {
        width: 60rem;
    }
}
.container-fluid.modulesHorz {
    font-size: .875rem;
}

@media screen and (min-width:992px) {
    .right-column-extra-space {
        margin-left: 1rem;
    }
}
@media screen and (max-width:767px) {
    .right-column-extra-space {
        margin-top: 3rem;
    }
}

footer.container {
    font-size: .875rem;
    line-height: 4rem;
}